*{
  font-family: var(--Germania);
  letter-spacing: 1px;
}

:root{
  --obsidian: #080808;
  --slimeBlue: #1c75bc;
  --mustard: #e38a43;

  --headerHeight: 48px;

  --Germania: "Germania One", system-ui;

}

body{
  display: block;
  background-image: linear-gradient(45deg, rgba(16,16,16, 0.9), var(--obsidian) 75%);
  background-size: 64px 64px;
  background-repeat: repeat;
  margin: 0;
}

main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header{
  height: var(--headerHeight);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;

  & img{
    height: calc(var(--headerHeight) - 8px);
  }

  & span{
    font-weight: bolder;
    font-size: 1.5rem;
    color: var(--slimeBlue);
  }
}

/*

  ID ID ID ID section

*/




#titleImg{
  transition: filter .25s;
  &:hover{
    filter: invert(100%);
  }
}


#searchResults{
  margin-top: 16px;
  max-width: 512px;
  background-color: white;
  background-clip: border-box;

  max-height: calc(51px*3);
  overflow-y: scroll;

  border-radius: 2rem;

  scrollbar-width: none;

  opacity: 1;
  transition: opacity .5s;

  @starting-style{
    opacity: 0;
  }

  & button:focus{
    background-color: var(--slimeBlue);
    color: white;
  }

  .resultButton{
  display: flex;
  border: none;
  background-color: white;
  width: 100%;

  justify-content: center;
  align-items: center;
  column-gap: 16px;

  &:hover{
    background-color: var(--mustard);
  }
}
}

#bookMenu{
  --difference: 6px;
    display: inline;
    height: calc(48px - var(--difference));
    aspect-ratio: 1/1;
    border: none;
    border-radius: 50%;
    position: relative;
    background-color: var(--slimeBlue);
    background-image: url(./assets/bookModel.svg);
    background-size: calc(32px - var(--difference)), cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: calc(var(--headerHeight) - calc(var(--difference) / 2));
    left: calc(var(--difference) / 2);
    z-index: 4;

    &:hover{
      background-blend-mode: exclusion;
      filter: drop-shadow(0 0 4px black);
    }

    &:focus{
      background-color: var(--mustard);
    }
}

#searchBoxWrapper{
  display: inline;
}

#searchBox{
  height: var(--headerHeight);
  width: 90vw;
  max-width: 512px;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  background-clip: border-box;
  border: 0px solid transparent;
  border-radius: 2rem;
  transition: border .1s ease-in-out, border-radius .1s ease-in-out, background-color .1s ease-in-out;
  padding: 0;

  &:focus{
    border: 2px solid var(--mustard);
  }

  &:focus-within{
    border: 2px solid var(--slimeBlue);
    background-color: var(--mustard);
  }

  & input{
    height: inherit;
    background-color: transparent;
    width: 100%;
    border: 0 solid transparent;
    outline: none;
    z-index: 1;
    font-size: 1rem;
    text-align: center;
  }

}

#monsterCollection{
  display: block;
  aspect-ratio: 9/16;
  /* height: 75vh; */
  width: 75vw;
  max-width: 400px;
  max-height: 712px;
  overflow-y: hidden;
  overflow-x: hidden;
  filter: drop-shadow( 0 0 .5rem var(--mustard));
}

#topBar{
  position: absolute;
  top: 0;
  z-index: 10;
}

#mainContent{
  align-self: center;
  margin-top: 256px;
}

#arrowContainer{
  width: calc(16vh + 24px);
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 24px;

  & .ArrowCircle{
    background-color: white;
    min-height: 48px;
    height: 8vh;
    max-height: 64px;
    aspect-ratio: 1/1;
    border: 0 solid transparent;
    border-radius: 50%;
    transition: background-color .05s, transform .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);

    &:active{
      transform: scale(.8);
    }

    &:hover{
      background-color: var(--slimeBlue);

      & #leftArrow{
        border-right: 24px solid var(--mustard);
        transform: scale(1.3);
      }
      & #rightArrow{
        border-left: 24px solid var(--mustard);
        transform: scale(1.3);
      }
    }

    &:focus{
      & #leftArrow{
        border-right: 24px solid var(--mustard);
        transform: scale(1.3);
      }
      & #rightArrow{
        border-left: 24px solid var(--mustard);
        transform: scale(1.3);
      }
    }

    & #leftArrow, #rightArrow{
      height: 0px;
      width: 0px;
      border-radius: .25rem;
      transition: transform .5s;

    }

    & #leftArrow{
      border-top: 12px solid transparent;
      border-right: 24px solid var(--slimeBlue);
      border-bottom: 12px solid transparent;
    }
    & #rightArrow{
      border-top: 12px solid transparent;
      border-left: 24px solid var(--slimeBlue);
      border-bottom: 12px solid transparent;
    }

  }
}

#activeCard{
  display: block;
  opacity: 1;
  transform: scale(1) translateY(0px);

  @starting-style{
    opacity: 0;
    transform: scale(0) translateY(-256px);
  }
}

#cardGoLeft, #cardGoRight{
  display: block;
  opacity: 0;
}

#cardGoLeft{
  opacity: 1;
  transform: scaleY(1) translateX(0px) rotateZ(0deg) skew(0deg, 0deg);

  @starting-style{
    opacity: 0;
    transform: scaleY(0) translateX(-512px) rotateZ(90deg) skew(-45deg, 45deg);
  }
}

#cardGoRight{
  opacity: 1;
  transform: scaleY(1) translateX(0px) rotateZ(0deg) skew(0deg, 0deg);

  @starting-style{
    opacity: 0;
    transform: scaleY(0) translateX(512px) rotateZ(-90deg) skew(45deg, -45deg);
  }
}

#monsterName{
  font-size: 1.2rem;
  padding-left: 1rem;
  color: white;
  filter: drop-shadow(0 0 .2rem black) drop-shadow(0 0 .1rem black);
}

#listWrapper{
  height: 90vh;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 64px;
  z-index: 11;
  border: none;
  background-color: transparent;
  justify-self: center;
  outline: none;

  translate: 0 -100%;
  transition: opacity .25s, translate 1s, display 1s;

  &[open]{
    translate: 0 0;

    &::backdrop{
      background-color: rgb(0 0 0 / 95%);
    }

    @starting-style{
      opacity: 0;
      translate: 0 100%;
    }
  }

  &::backdrop{
    background-color: transparent;
    transition: opacity 2s, background-color 2s;
  }

  & section{
    display: flex;
    flex-direction: column;
    height: inherit;
    align-items: center;
    border: 0px solid transparent;
    border-radius: 2rem;

    & div{

      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      background-color: var(--slimeBlue);
      width: 90vw;
      max-width: 512px;
      height: 64px;
      border: none;
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;

      box-shadow: 0 0 1rem black inset;

      & button#xButton{
      --buttonHeight: 32px;

      height: var(--buttonHeight);
      width: var(--buttonHeight);
      background-color: white;
      border: 2px solid black;
      border-radius: 50%;
      padding: 0;
      background-image: url(./assets/xButton.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: calc(var(--headerHeight) * .3);
      position: relative;
      top: 1rem;
      left: 1rem;

      align-self: flex-start;

      transition: background-color .1s;

        &:hover{
          background-color: var(--mustard);
        }

        &:focus{
          background-color: var(--mustard);
        }
      }

      & p{
        font-size: 1.5rem;
        width: fit-content;
        height: fit-content;
        margin: 0;
        filter: drop-shadow(0 .1rem 1rem white);
        position: relative;
        bottom: 1rem;
      }
    }
  }

}

#fullList{
  --itemHeight: 72px;

  /* position: fixed; */
  background-color: var(--slimeBlue);
  display: grid;
  grid-template-columns: repeat(3,calc(var(--itemHeight) + 1rem));
  grid-template-rows: 1fr;
  justify-content: center;
  row-gap: 3.5rem;
  column-gap: 1rem;
  height: 512px;
  width: 90vw;
  max-width: 512px;
  overflow-x: hidden;
  overflow-y: scroll;
  /* padding-top: 64px; */
  padding-bottom: 1rem;
  height: 100%;

  box-shadow: 0 -.5rem 1rem black inset;

  scrollbar-width: none;

  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

  &:focus{
    outline: none;
  }

  & figure{
    background-image: linear-gradient(to bottom,var(--mustard), var(--slimeBlue));
    height: var(--itemHeight);
    width: var(--itemHeight);
    margin: 0;
    border-radius: 1rem 1rem 0 0;
    padding: .5rem;

    & img{
      height: inherit;
      aspect-ratio: 1/1;
      margin-bottom: 4px;
      filter: drop-shadow(0 0 .25rem black);
    }

    & figcaption{
      position: relative;
      left: -8px;
      background-color: var(--obsidian);
      min-height: 32px;
      width: calc(100% + 1rem);
      color: white;
      text-align: center;
      font-size: .9rem;
      word-wrap: break-word;
      border-radius: 0 0 1rem 1rem;
      padding: 0;
      margin: 0;

    }
  }
}


/* 

 C L A S S E S

*/

/*
.resultButtonImg{
}
.resultButtonText{
}
*/

.monsterId{
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  z-index: 6;

 & span#poundSign{
    position: fixed;
    top: -24px;
    right: 0;
    font-size: 8rem;
  }

  & span#numberSign{
    display: block;
    color: black;
    font-size: 4rem;
    width: fit-content;
    min-width: 80px;
    text-align: center;
    margin-top: 12px;
    filter: drop-shadow( 0 0 .1rem var(--slimeBlue)) drop-shadow( 0 0 .4rem var(--mustard));
  }
}

.statsRow{
  display: flex;
  justify-content: space-between;
  align-items: start;
  min-height: 4rem;
}

.detailsWrapper{
  padding: 1rem 1rem 1rem 1rem;
  background-image: linear-gradient(to bottom, var(--slimeBlue) 50%, var(--mustard) 50%);
  background-clip: content-box;

  height: calc(100% - 2rem);

  border: 0px solid transparent;
  border-radius: 2rem;
}

.monsterDetailContainer{
  display: none;
  background: linear-gradient(to top, #fff 10%, transparent 5%) ,linear-gradient(to top, var(--slimeBlue) 75%, var(--mustard));

  transition-property: transform, opacity;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  height: 100%;
  border: 0 solid transparent;
  border-radius: 2rem;

}

.detailGrid{

  --borderDifference: .2rem;

  min-height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  border: var(--borderDifference) solid var(--mustard);
  border-radius: 1rem;
  height: calc(100% - var(--borderDifference));


  & div{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */

    & div span:not(#poundSign, #numberSign){
      color: var(--obsidian);
    }

    & div p{
        padding-left: 1rem;
        font-size: 1rem;
        color: white;
        margin: 0;
        filter: drop-shadow(0 0 .2rem black) drop-shadow(0 0 .1rem black);
    }
  }

}

.monsterSprite{
  width: auto;
  aspect-ratio: 1/1;
  margin: auto;
  display: block;
  filter: drop-shadow( -.25rem .25rem .25rem #165b94);
  /* background-color: var(--obsidian); */
}

.centerFlex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centerBlock{
  display: block;
  margin-left: auto;
  width: 90%;
  overflow-y: hidden;
  margin-right: auto;
}

@media only screen and (max-width: 300px){
  *{
    font-size: .8rem;
  }

  .monsterSprite{
    width: 80%;
  }
}


@media only screen and (min-width: 544px){
  #fullList{
    grid-template-columns: repeat(4,calc(var(--itemHeight) + 1rem));
  }
}

@media only screen and (min-width: 960px){
  .monsterDetailContainer{
    margin-left: auto;
    margin-right: auto;
  }

}

@media only screen and (min-height: 668px) {
  #monsterName{
    font-size: 1.4rem;
  }
  
}

